<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <script src="/static/post.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Posts page</h1>
        <div class="header_nav">
            <a href="/">Home page</a>
            <a href="/date/">Date page</a>
            <a href="/post/all">Posts page</a>
            <a href="/user/">User page</a>
            <a href="/login/">Login page</a>
            <a href="/registration/">Registration page</a>
        </div>
    </header>

    <main>
        <div class="post">
            <h2><%= post.name %></h2>
            <h4><%= post.author %></h4>
            <p><%= post.text %></p>
        </div>
        

        <!-- <form id="createPostForm"> -->
            <label>Title: <input type="text" name="title" id="title"></label>
            <label>Text: <input type="text" name="text" id="text"></label>
        
            <button id="writeComment">Write a comment</button>
        <!-- </form> -->

        <div>
            <h1 id="response"></h1>
        </div>
    </main>

    <footer>
        This is post page
    </footer>
</body>
</html>