<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
    <link rel="stylesheet" href="/static/user.css">
    <script defer src="/static/user.js"></script>
</head>
<body>
    <header>
        <h1>User page</h1>
        <div class="header_nav">
            <a href="/">Home page</a>
            <a href="/date/">Date page</a>
            <a href="/posts/">Posts page</a>
            <a href="/user/">User page</a>
        </div>
    </header>

    <main>
        <h1>You are user!</h1>
    </main>

    <footer>
        <p>This is user page.</p>
    </footer>
</body>
</html>